//- Copyright (C) 2019 - 2020 Ryan Bester
extends ../head

block layout
    .basic-container
        #basic-header
            .basic-header-left
                table
                    tr
                        td
                            a.logo-link(href='/')
                                img(src= staticProtocol + staticDomain + '/assets/images/logo48x48.png' srcset= staticProtocol + staticDomain + '/assets/images/logo96x96.png 2x' height='48' width='48')
                        td
                            a.logo-link(href='/')
                                h1= app.settings.title
            if user
                .basic-header-right
                    .user-dropdown
                        h1.user-dropdown__header#user-dropdown-header #{user.first_name} #{user.last_name}
                        img.user-dropdown__image(src= staticProtocol + staticDomain + '/assets/images/downarrow16x16.png' srcset= staticProtocol + staticDomain + '/assets/images/downarrow32x32.png 2x')
                        .user-dropdown__content
                            ul.user-dropdown-content__list
                                li.user-dropdown__item
                                    a(href='') Help
                                li.user-dropdown__item
                                    a(href= accountsProtocol + accountsDomain + '/logout/?nonce=' + logoutNonce) Logout
        .container--center.basic-header-body-container
            h1 Admin
            .myaccount-container
                .navigation-bar--center.my-account-navigation
                    ul.navigation-bar--center__list
                        li.navigation-bar--center__item
                            a.navigation-bar--center__link(class=(activeItem === 'home' ? 'navigation-bar--center__link--active' : undefined) href='/admin') Home
                        li.navigation-bar--center__item
                            a.navigation-bar--center__link(class=(activeItem === 'users' ? 'navigation-bar--center__link--active' : undefined) href='/admin/users') Users
                        li.navigation-bar--center__item
                            a.navigation-bar--center__link(class=(activeItem === 'privilege-templates' ? 'navigation-bar--center__link--active' : undefined) href='/admin/privilege-templates') Privilege Templates
                        li.navigation-bar--center__item
                            a.navigation-bar--center__link(class=(activeItem === 'widgets' ? 'navigation-bar--center__link--active' : undefined) href='/admin/widgets') Widgets
                        li.navigation-bar--center__item
                            a.navigation-bar--center__link(class=(activeItem === 'access-tokens' ? 'navigation-bar--center__link--active' : undefined) href='/admin/access-tokens') Access Tokens
                        li.navigation-bar--center__item
                            a.navigation-bar--center__link(class=(activeItem === 'nonces' ? 'navigation-bar--center__link--active' : undefined) href='/admin/nonces') Nonces
                        li.navigation-bar--center__item
                            a.navigation-bar--center__link(class=(activeItem === 'data' ? 'navigation-bar--center__link--active' : undefined) href='/admin/data') Data
                if subtitle
                    div.myaccount-subtitle-container
                        if showBack
                            a.button(href= (backUrl !== undefined ? backUrl : '../')) Back
                        h2= subtitle
                block admin-content
                p.copyright-left= copyright
                    span.copyright-right= 'Commit: ' + commitId + ' | Powered by '
                        a(href='https://github.com/ryanbester/comimant' target='_blank') Comimant