//- Copyright (C) 2019-2020 Bester Intranet
extends admin-home

block admin-content
    if privilegeTemplate
        .myaccount-stack-view
            a.myaccount-stack-view__box.myaccount-stack-view__box--related(href="name/")
                span Name
                span.myaccount-stack-view__box-value= privilegeTemplate.name
                img.myaccount-stack-view__box-image(src="https://" + static_domain + "/assets/images/rightarrow16x16.png" srcset="https://" + static_domain + "/assets/images/rightarrow32x32.png 2x")
            a.myaccount-stack-view__box.myaccount-stack-view__box--related(href="title/")
                span Title
                span.myaccount-stack-view__box-value= privilegeTemplate.title
                img.myaccount-stack-view__box-image(src="https://" + static_domain + "/assets/images/rightarrow16x16.png" srcset="https://" + static_domain + "/assets/images/rightarrow32x32.png 2x")
            a.myaccount-stack-view__box.myaccount-stack-view__box--related(href="default/")
                span Default
                span.myaccount-stack-view__box-value= privilegeTemplate.default_template == 1 ? "Yes" : "No"
                img.myaccount-stack-view__box-image(src="https://" + static_domain + "/assets/images/rightarrow16x16.png" srcset="https://" + static_domain + "/assets/images/rightarrow32x32.png 2x")
            a.myaccount-stack-view__box.myaccount-stack-view__box--related(href="delete-privilege-template/")
                span.red-text Delete Privilege Template
                img.myaccount-stack-view__box-image(src="https://" + static_domain + "/assets/images/rightarrow16x16.png" srcset="https://" + static_domain + "/assets/images/rightarrow32x32.png 2x")
        h3 Privileges
        if error
            h2.error= error
        if success
            h2.success= success
        a.button(href="add-privilege/") Add Privilege
        form.myacount-form(method='POST' action='')
            .myaccount-table-view
                table.myaccount-table
                    tr
                        th.myaccount-table-view__cell--align-left Privilege Name
                        th.myaccount-table-view__cell--align-left Granted
                        th.myaccount-table-view__cell--align-left Denied
                    if pt.getPrivileges()
                        each value, privilege in pt.getPrivileges()
                            tr
                                td.myaccount-table-view__cell--align-left= privilege
                                td.myaccount-table-view__cell--align-left
                                    label.login-form__checkbox.checkbox-container.checkbox-container--table-cell
                                        input.checkbox-container__input--table-cell(
                                            type="radio"
                                            name= privilege
                                            value= 'granted'
                                            checked= (value == 1 ? "checked" : undefined)
                                            tabindex='-1'
                                        )
                                        span.checkbox-checkmark
                                td.myaccount-table-view__cell--align-left
                                    label.login-form__checkbox.checkbox-container.checkbox-container--table-cell
                                        input.checkbox-container__input--table-cell(
                                            type="radio"
                                            name= privilege
                                            value= 'denied'
                                            checked= (value == 0 ? "checked" : undefined)
                                            tabindex='-1'
                                        )
                                        span.checkbox-checkmark
            br
            input(type='hidden' name='nonce' value=formNonce)
            input(
                type='submit'
                value='Save'
            )