//- Copyright (C) 2019 Bester Intranet
extends layout

block content
    .basic-container
        #basic-header
            .basic-header-left
                table
                    tr
                        td
                            a.logo-link(href='/')
                                img(src="https://static.besterintranet.com/assets/images/logo.png" srcset="https://static.besterintranet.com/assets/images/logo96x96.png 2x" height="48" width="48")
                        td
                            a.logo-link(href='/')
                                h1 Bester Intranet
            if user
                .basic-header-right
                    .user-dropdown
                        h1.user-dropdown__header#user-dropdown-header #{user.first_name} #{user.last_name}
                        img.user-dropdown__image(src="https://static.besterintranet.com/assets/images/downarrow16x16.png" srcset="https://static.besterintranet.com/assets/images/downarrow32x32.png 2x")
                        .user-dropdown__content
                            ul.user-dropdown-content__list
                                li.user-dropdown__item
                                    a(href="") Help
                                li.user-dropdown__item
                                    a(href="/logout/?nonce=" + logoutNonce) Logout
        .container--center.basic-header-body-container
            h1 Admin
            .myaccount-container
                .navigation-bar--center.my-account-navigation
                    ul.navigation-bar--center__list
                        li.navigation-bar--center__item
                            a.navigation-bar--center__link(class=(activeItem === "home" ? "navigation-bar--center__link--active" : undefined) href='/admin/') Home
                        li.navigation-bar--center__item
                            a.navigation-bar--center__link(class=(activeItem === "users" ? "navigation-bar--center__link--active" : undefined) href='/admin/users/') Users
                        li.navigation-bar--center__item
                            a.navigation-bar--center__link(class=(activeItem === "privilege-templates" ? "navigation-bar--center__link--active" : undefined) href='/admin/privilege-templates/') Privilege Templates
                        li.navigation-bar--center__item
                            a.navigation-bar--center__link(class=(activeItem === "access-tokens" ? "navigation-bar--center__link--active" : undefined) href='/admin/access-tokens/') Access Tokens
                        li.navigation-bar--center__item
                            a.navigation-bar--center__link(class=(activeItem === "nonces" ? "navigation-bar--center__link--active" : undefined) href='/admin/nonces/') Nonces
                        li.navigation-bar--center__item
                            a.navigation-bar--center__link(class=(activeItem === "data" ? "navigation-bar--center__link--active" : undefined) href='/admin/data/') Data
                if subtitle
                    h2= subtitle
                block admin-content
                p &copy; 2017&ndash;#{(new Date()).getFullYear()} Bester Intranet, Commit: #{commit_id}