//- Copyright (C) 2019-2020 Bester Intranet
extends admin-home

block admin-content
    if error
        h2.error= error
    if success
        h2.success= success
    form.myaccount-form(method='POST' action='')
        label(for='admin-widget-height-form-height') Height
        input#admin-widget-height-form-height(
            class=(heightInvalid ? "is-invalid" : undefined)
            type='number'
            name='height'
            placeholder='Height'
            value= height
        )
        .invalid-feedback Enter a valid height
        br
        input(type='hidden' name='nonce' value=formNonce)
        input(
            type='submit'
            value='Save'
        )