//- Copyright (C) 2019 Bester Intranet
extends admin-home

block admin-content
    if adminUser
        h3 Privileges
        if error
            h2.error= error
        if success
            h2.success= success
        a.button(href="add-privilege/") Add Privilege
        a.button(href="apply-template/") Apply Privilege Template
        form.myacount-form(method='POST' action='')
            .myaccount-table-view
                table.myaccount-table
                    tr
                        th.myaccount-table-view__cell--align-left Privilege Name
                        th.myaccount-table-view__cell--align-left Granted
                        th.myaccount-table-view__cell--align-left Denied
                    if adminUser.getPrivileges()
                        each value, privilege in adminUser.getPrivileges()
                            tr
                                td.myaccount-table-view__cell--align-left= privilege
                                td.myaccount-table-view__cell--align-left
                                    label.login-form__checkbox.checkbox-container.checkbox-container--table-cell
                                        input.checkbox-container__input--table-cell(
                                            type="radio"
                                            name= privilege
                                            value= 'granted'
                                            checked= (value == 1 ? "checked" : undefined)
                                            tabindex='-1'
                                        )
                                        span.checkbox-checkmark
                                td.myaccount-table-view__cell--align-left
                                    label.login-form__checkbox.checkbox-container.checkbox-container--table-cell
                                        input.checkbox-container__input--table-cell(
                                            type="radio"
                                            name= privilege
                                            value= 'denied'
                                            checked= (value == 0 ? "checked" : undefined)
                                            tabindex='-1'
                                        )
                                        span.checkbox-checkmark
            br
            input(type='hidden' name='nonce' value=formNonce)
            input(
                type='submit'
                value='Save'
            )