//- Copyright (C) 2019 Bester Intranet
extends admin-home

block admin-content
    if error
        h2.error= error
    if success
        h2.success= success
    form.myaccount-form(method='POST' action='')
        label.login-form__checkbox.checkbox-container Yes
            input(
                type="radio"
                name= "default_template"
                value= 'yes'
                checked= (defaultTemplate == 1 ? "checked" : undefined)
                tabindex='-1'
            )
            span.checkbox-checkmark
        label.login-form__checkbox.checkbox-container No
            input(
                type="radio"
                name= "default_template"
                value= 'no'
                checked= (defaultTemplate == 0 ? "checked" : undefined)
                tabindex='-1'
            )
            span.checkbox-checkmark
        br
        input(type='hidden' name='nonce' value=formNonce)
        input(
            type='submit'
            value='Save'
        )