//- Copyright (C) 2019 Bester Intranet
extends admin-home

block admin-content
    if error
        h2.error= error
    if success
        h2.success= success
    form.myaccount-form(method='POST' action='')
        label(for='admin-widget-position-form-position') Position
        input#admin-widget-position-form-position(
            class=(positionInvalid ? "is-invalid" : undefined)
            type='number'
            name='position'
            placeholder='Position'
            value= position
        )
        .invalid-feedback Enter a valid position
        br
        input(type='hidden' name='nonce' value=formNonce)
        input(
            type='submit'
            value='Save'
        )