//- Copyright (C) 2019-2020 Bester Intranet
extends admin-home

block admin-content
    if error
        h2.error= error
    if success
        h2.success= success
    form.myaccount-form(method='POST' action='')
        label(for='admin-change-password-form-new-password') New Password
        input#admin-change-password-form-new-password(
            type='password'
            name='newPassword'
            placeholder='New Password'
        )
        br
        label(for='admin-change-password-form-confirm-password') Confirm Password
        input#admin-change-password-form-confirm-password(
            type='password'
            name='confirmPassword'
            placeholder='Confirm Password'
        )
        br
        input(type='hidden' name='nonce' value=formNonce)
        input(
            type='submit'
            value='Save'
        )