//- Copyright (C) 2019-2020 Bester Intranet
extends admin-home

block admin-content
    if error
        h2.error= error
    if success
        h2.success= success
    form.myaccount-form(method='POST' action='')
        label(for='admin-widget-data-form-data') Data (JSON)
        br
        textarea#admin-widget-data-form-data(
            class=(dataInvalid ? "is-invalid" : undefined)
            name='data'
        )= data
        .invalid-feedback Enter valid data
        br
        input(type='hidden' name='nonce' value=formNonce)
        input(
            type='submit'
            value='Save'
        )