//- Copyright (C) 2019 Bester Intranet
extends admin-home

block admin-content
    if error
        h2.error= error
    if success
        h2.success= success
    form.myaccount-form(method='POST' action='')
        label(for='admin-widget-type-form-type') Type
        input#admin-widget-type-form-type(
            class=(typeInvalid ? "is-invalid" : undefined)
            type='text'
            name='type'
            placeholder='Type'
            value= type
        )
        .invalid-feedback Enter a valid type
        br
        input(type='hidden' name='nonce' value=formNonce)
        input(
            type='submit'
            value='Save'
        )