//- Copyright (C) 2019-2020 Bester Intranet
extends admin-home

block admin-content
    if error
        h2.error= error
    if success
        h2.success= success
    form.myaccount-form(method='POST' action='')
        label(for='admin-user-form-title') Title
        input#admin-user-form-title(
            class=(titleInvalid ? "is-invalid" : undefined)
            type='text'
            name='title'
            placeholder='Title'
            value= widgetTitle
        )
        .invalid-feedback Enter a valid title
        br
        label(for='admin-user-form-type') Type
        input#admin-user-form-type(
            class=(typeInvalid ? "is-invalid" : undefined)
            type='text'
            name='type'
            placeholder='Type'
            value= type
        )
        .invalid-feedback Enter a valid type
        br
        label(for='admin-user-form-data') Data (JSON)
        br
        textarea#admin-user-form-data(name='data')= data
        h3 Layout
        label(for='admin-user-form-position') Position
        input#admin-user-form-position(
            class=(positionInvalid ? "is-invalid" : undefined)
            type='number'
            name='position'
            placeholder='Position'
            value= position
        )
        .invalid-feedback Enter a valid position
        br
        label(for='admin-user-form-height') Height
        input#admin-user-form-height(
            class=(heightInvalid ? "is-invalid" : undefined)
            type='number'
            name='height'
            placeholder='Height'
            value= height
        )
        .invalid-feedback Enter a valid height
        br
        input(type='hidden' name='nonce' value=formNonce)
        input(
            type='submit'
            value='Save'
        )