//- Copyright (C) 2019 Bester Intranet
extends admin-home

block admin-content
    if adminUser
        h3 Widgets
        if error
            h2.error= error
        if success
            h2.success= success
        a.button(href="add-widget/") Add Widget
        .myaccount-table-view
            table.myaccount-table
                tr
                    th.myaccount-table-view__cell--align-left Title
                    th.myaccount-table-view__cell--align-left Type
                    th.myaccount-table-view__cell--align-left Position
                    th.myaccount-table-view__cell--align-left Height
                if widgets
                    each widget in widgets
                        tr
                            td.myaccount-table-view__cell--align-left
                                a(href=widget.widget.widget_id.toLowerCase() + '/')= widget.widget.title
                            td.myaccount-table-view__cell--align-left
                                a(href=widget.widget.widget_id.toLowerCase() + '/')= widget.widget.type
                            td.myaccount-table-view__cell--align-left
                                a(href=widget.widget.widget_id.toLowerCase() + '/')= widget.position
                            td.myaccount-table-view__cell--align-left
                                a(href=widget.widget.widget_id.toLowerCase() + '/')= widget.height
        h3 Unknown Widgets
        .myaccount-table-view
            table.myaccount-table
                tr
                    th.myaccount-table-view__cell--align-left ID
                    th.myaccount-table-view__cell--align-left Position
                    th.myaccount-table-view__cell--align-left Height
            if unknownWidgets
                each widget in unknownWidgets
                    tr
                        td.myaccount-table-view__cell--align-left
                            a(href=widget.widget.id.toLowerCase() + '/')= widget.id
                        td.myaccount-table-view__cell--align-left
                            a(href=widget.widget.id.toLowerCase() + '/')= widget.position
                        td.myaccount-table-view__cell--align-left
                            a(href=widget.widget.id.toLowerCase() + '/')= widget.height