//- Copyright (C) 2019-2020 Bester Intranet
extends admin-home

block admin-content
    if error
        h2.error= error
    if success
        h2.success= success
    form.myaccount-form(method='POST' action='')
        select#admin-user-form-day(
            class=(dayInvalid ? "is-invalid" : undefined)
            name='day'
        )
            - for(let i = 1; i <= 31; i++)
                option(value=i selected=(day == i ? "true": undefined))= i
        .invalid-feedback Invalid day
        select#admin-user-form-month(
            class=(monthInvalid ? "is-invalid" : undefined)
            name='month'
        )
            option(value='1' selected=(month == '1' ? "true": undefined)) January
            option(value='2' selected=(month == '2' ? "true": undefined)) February
            option(value='3' selected=(month == '3' ? "true": undefined)) March
            option(value='4' selected=(month == '4' ? "true": undefined)) April
            option(value='5' selected=(month == '5' ? "true": undefined)) May
            option(value='6' selected=(month == '6' ? "true": undefined)) June
            option(value='7' selected=(month == '7' ? "true": undefined)) July
            option(value='8' selected=(month == '8' ? "true": undefined)) August
            option(value='9' selected=(month == '9' ? "true": undefined)) September
            option(value='10' selected=(month == '10' ? "true": undefined)) October
            option(value='11' selected=(month == '11' ? "true": undefined)) November
            option(value='12' selected=(month == '12' ? "true": undefined)) December
        .invalid-feedback Invalid month
        select#admin-user-form-year(
            class=(yearInvalid ? "is-invalid" : undefined)
            name='year'
        )
            - for(let i = (new Date()).getFullYear(); i >= 1890; i--)
                option(value=i selected=(year == i ? "true": undefined))= i
        .invalid-feedback Invalid year
        br
        input(type='hidden' name='nonce' value=formNonce)
        input(
            type='submit'
            value='Save'
        )