//- Copyright (C) 2019 Bester Intranet
extends layout

block content
    .basic-container
        #basic-header
            table
                tr
                    td
                        img(src="https://static.besterintranet.com/assets/images/logo.png" srcset="https://static.besterintranet.com/assets/images/logo96x96.png 2x" height="48" width="48")
                    td
                        h1 Bester Intranet
        .clear
        .container--center.basic-header-body-container
            h1= message
            .login-form-container
                if error
                    h2#login-form__error-message= error
                form.login-form(method='POST' action='')
                    input.login-form__input(
                        type='text'
                        name='email'
                        value= email
                        disabled
                    )
                    br
                    input.login-form__input#login-form__input-password(
                        type='password'
                        name='password'
                        placeholder='Password'
                    )
                    br
                    input(type='hidden' name='nonce' value=nonce)
                    input.login-form__button(
                        type='submit'
                        value='Continue'
                    )