//- Copyright (C) 2019 - 2020 Ryan Bester
extends ../layout

block admin-content
    if hasPermission
        if error
            h2.error= error
        if success
            h2.success= success
        form.myaccount-form(method='POST' action='')
            .form-row
                label(for='admin-user-name-form-email') Email Address
                input#admin-user-name-form-email(
                    class=(emailInvalid ? 'is-invalid' : undefined)
                    type='email'
                    name='email'
                    placeholder='Email Address'
                    value= email
                )
                .invalid-feedback Enter a valid email address
            br
            input(type='hidden' name='nonce' value=formNonce)
            input(
                type='submit'
                value='Save'
            )
    else
        p You do not have permission to change a user's email address.