//- Copyright (C) 2019 - 2020 Ryan Bester
extends ../layout

block admin-content
    if hasPermission
        if error
            h2.error= error
        if success
            h2.success= success
        form.myaccount-form(method='POST' action='')
            .form-row
                label(for='admin-user-name-form-first-name') First name
                input#admin-user-name-form-first-name(
                    class=(firstNameInvalid ? 'is-invalid' : undefined)
                    type='text'
                    name='firstName'
                    placeholder='First name'
                    value= firstName
                )
                .invalid-feedback Enter a valid first name
            br
            .form-row
                label(for='admin-user-name-form-last-name') Last name
                input#admin-user-name-form-last-name(
                    class=(lastNameInvalid ? 'is-invalid' : undefined)
                    type='text'
                    name='lastName'
                    placeholder='Last name'
                    value= lastName
                )
                .invalid-feedback Enter a valid last name
            br
            input(type='hidden' name='nonce' value=formNonce)
            input(
                type='submit'
                value='Save'
            )
    else
        p You do not have permission to change a user's name.